.lables__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 47px 0 47px;
}
.lable-item{
    margin-left: 80px;
}
.lable-item:first-child{
    margin-left: 0;
}
@media(max-width:610px){
    .lable-item{
        margin-left: 15px;
    }
}
@media(max-width:440px){
    .lables__inner{
        flex-direction: column;
    }
    .lable-item{
        margin-top: 5px;
    }
}